<div *ngIf="ipv4Stats">
  <p><strong>Total Packets</strong>: {{ ipv4Stats.totalPackets }}</p>
  <p><strong>Total Bytes</strong>: {{ ipv4Stats.totalBytes }}</p>
  <p><strong>Unique Source IPs</strong>: {{ ipv4Stats.uniqueSourceIPs.join(', ') }}</p>
  <p><strong>Unique Destination IPs</strong>: {{ ipv4Stats.uniqueDestinationIPs.join(', ') }}</p>

  <h4>Packets by Source</h4>
  <div *ngFor="let source of (ipv4Stats.packetCountsBySource | keyvalue)">
    <strong>{{ source.key }}</strong>: {{ source.value }} packets
  </div>

  <h4>Packets by Destination</h4>
  <div *ngFor="let destination of (ipv4Stats.packetCountsByDestination | keyvalue)">
    <strong>{{ destination.key }}</strong>: {{ destination.value }} packets
  </div>

  <h4>Bytes by Source</h4>
  <div *ngFor="let source of (ipv4Stats.bytesBySource | keyvalue)">
    <strong>{{ source.key }}</strong>: {{ source.value }} bytes
  </div>

  <h4>Bytes by Destination</h4>
  <div *ngFor="let destination of (ipv4Stats.bytesByDestination | keyvalue)">
    <strong>{{ destination.key }}</strong>: {{ destination.value }} bytes
  </div>
</div>
